<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4">Bienvenido al Dashboard Principal</h1>
                    <p class="text-center">Seleccione una opción del menú para comenzar.</p>
                </div>
            </div>
        </div>
    </div>
</div>
