<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center mb-4">Bienvenido a No OK</h1>
            <p class="text-center">Sección de elementos no conformes.</p>
        </div>
    </div>
</div>
