<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casos detectados en proceso de IPM</title>
    <link rel="stylesheet" href="/css/reporte-ipm.css">
</head>

<body>
    <div class="container">
        <h1>Casos detectados en proceso de IPM</h1>

        <div class="date-container">
            <input type="date" id="fechaConsulta" required>
            <button onclick="obtenerDatos()">Obtener Datos</button>
            <button onclick="unificarCasos()" class="action-button">Unificar Casos</button>
            <button onclick="generateReport()" class="action-button">Generar Reporte</button>
        </div>

        <textarea id="dataInput" rows="10" placeholder="Pega aquí los datos..."></textarea><br>
        <button onclick="processData()">Generar Tablas</button>

        <h2>Casos Procesados</h2>

        <div id="caseContainer"></div>

        <!-- Nuevo textarea para la tabla de evidencia de anulaciones / confirmaciones manual -->
        <h2>Tabla de Evidencia de Anulaciones / Confirmaciones Manual</h2>
        <textarea id="evidenceInput" rows="10" placeholder="Pega aquí los datos de la tabla..."></textarea><br>
        <button onclick="insertEvidenceData()">Insertar Datos en Tabla</button>

        <h2>Datos de Anulaciones / Confirmaciones</h2>
        <table id="evidenceTable">
            <thead>
                <tr>
                    <th>Tipo Autorización</th>
                    <th>Hora Autorización</th>
                    <th>Estado</th>
                    <th>Hora Intervención</th>
                    <th>Usuario</th>
                    <th>AUTOCODI</th>
                    <th>PAN</th>
                    <th>Cta.Infinitus</th>
                    <th>Cuenta.Mambu</th>
                    <th>CardReferenceToken</th>
                    <th>MontoLocal</th>
                    <th>MonedaLocal</th>
                    <th>MontoOrigen</th>
                    <th>MonedaOrigen</th>
                    <th>Comercio</th>
                    <th>PaisComercio</th>
                    <th>CiudadComercio</th>
                    <th>MCC</th>
                    <th>VISA_TID</th>
                    <th>Internacional</th>
                    <th>RTA_MAMBU</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se insertarán los datos -->
            </tbody>
        </table>
    </div>

  <!-- Al final del body, justo antes del cierre -->
<script src="/js/reporte-ipm-script.js"></script>

</body>

</html>